{% extends 'reservation/base.html' %}

{% block content %}

<div class="card shadow login-box p-4">
    <h3 class="text-center mb-3">Create Account</h3>

    <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <input type="text" name="username" class="form-control"
                   placeholder="Enter username" required>
        </div>

        <div class="mb-3">
            <input type="email" name="email" class="form-control"
                   placeholder="Enter email" required>
        </div>

        <div class="mb-3">
            <input type="password" name="password1" class="form-control"
                   placeholder="Enter password" required>
        </div>

        <div class="mb-3">
            <input type="password" name="password2" class="form-control"
                   placeholder="Confirm password" required>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary w-100">Register</button>
        </div>
    </form>
</div>

{% endblock %}